<body>
    <!-- Lateral menu -->
    <header>
        <div class="logoPanel"><img src="assets/images/fav.png" alt="Ecommerce Analitycs"></div>
        <div class="menu">
            <a href="/home"><i class="fa-solid fa-house"></i></a>
            <a href="/report"><i class="fa-solid fa-file-contract"></i></a>
            <a href="/config"><i class="fa-solid fa-gear"></i></a>
        </div>
    </header>