<!--Dashboard LateralMenu-->
<%- include('partials/lateralMenu.ejs') %>

    <main>
        <!-- Page & User -->
        <div class="top">
            <div class="title">Configurações</div>
            <%- include('partials/user.ejs') %>
        </div>

        <!-- Card API Bling -->
        <div class="cards">
            <div class="card">
                <div class="boxInfo">
                    <h2>Bling API</h2>
                </div>
                <div class="form formInternal buttonInternal">
                    <input type="text" placeholder="Digite a sua API do Bling" required />
                    <button class="buttonInternal">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>