<body>
  <main>
    <div class="login">
      <div class="form">
        <img src="assets/images/logo.png" alt="EcommerceAnalytics">
        <h1>Criar uma conta</h1>

        <form class="login-form">
          <input type="text" placeholder="Digite seu melhor email (egidio@serri.com.br)" required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required />

          <input type="password" placeholder="Digite sua senha" required />
          <button>Criar minha conta</button>
        </form>



      </div>
    </div>


  </main>
</body>