<!--Dashboard LateralMenu-->
<%- include('partials/lateralMenu.ejs') %>

    <main>
        <!-- Page & User -->
        <div class="top">
            <div class="title">Analytics</div>
            <%- include('partials/user.ejs') %>
        </div>

        <!--   Warning button -->
        <div class="content">
            <div class="warning top">
                <div class="warningBox">
                    <h3 class="warningButton">✦ Integre agora o seu Bling para começar</h3>
                    <a href="/config">
                        <p class="warningLink">Clique aqui e saiba como ➜</p>
                    </a>
                </div>
            </div>
            <div class="cards">
                <section class="card">
                    <h3 class="tituloCards">Número de vendas</h3>
                    <span class="valoresCards">R$9999,00</span>
                </section>
                <section class="card">
                    <h3 class="tituloCards">Número de vendas</h3>
                    <p class="valoresCards">R$9999,00</span>
                </section>
                <section class="card">
                    <h3 class="tituloCards">Número de vendas</h3>
                    <span class="valoresCards">R$9999,00</span>
                </section>
            </div>


            <!-- Table -->
            <div class="tableBox">
                <div class="boxCard">
                    <div class="boxInfo">
                        <h2>Últimas vendas</h2>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Número do Pedido</th>
                                <th>SKU</th>
                                <th>Forma de Pagamento</th>
                                <th>Marketplace</th>
                                <th>Data</th>
                                <th>Valor</th>
                        <tbody>
                            <tr>
                                <td>2185985535368</td>
                                <td>123456789</td>
                                <td>Visa</td>
                                <td>Shopee</td>
                                <td>Jan, 25, 2022</td>
                                <td>R$150,00</td>
                            <tr>
                                <td>2185985535368</td>
                                <td>123456789</td>
                                <td>Visa</td>
                                <td>Shopee</td>
                                <td>Jan, 25, 2022</td>
                                <td>R$150,00</td>
                            <tr>
                                <td>2185985535368</td>
                                <td>123456789</td>
                                <td>Visa</td>
                                <td>Shopee</td>
                                <td>Jan, 25, 2022</td>
                                <td>R$150,00</td>
                            <tr>
                                <td>2185985535368</td>
                                <td>123456789</td>
                                <td>Visa</td>
                                <td>Shopee</td>
                                <td>Jan, 25, 2022</td>
                                <td>R$150,00</td>
                            <tr>
                                <td>2185985535368</td>
                                <td>123456789</td>
                                <td>Visa</td>
                                <td>Shopee</td>
                                <td>Jan, 25, 2022</td>
                                <td>R$150,00</td>
                            <tr>
                                <td>2185985535368</td>
                                <td>123456789</td>
                                <td>Visa</td>
                                <td>Shopee</td>
                                <td>Jan, 25, 2022</td>
                                <td>R$150,00</td>
                            <tr>
                                <td>2185985535368</td>
                                <td>123456789</td>
                                <td>Visa</td>
                                <td>Shopee</td>
                                <td>Jan, 25, 2022</td>
                                <td>R$150,00</td>
                            <tr>
                                <td>2185985535368</td>
                                <td>123456789</td>
                                <td>Visa</td>
                                <td>Shopee</td>
                                <td>Jan, 25, 2022</td>
                                <td>R$150,00</td>
                            <tr>
                                <td>2185985535368</td>
                                <td>123456789</td>
                                <td>Visa</td>
                                <td>Shopee</td>
                                <td>Jan, 25, 2022</td>
                                <td>R$150,00</td>
                            <tr>
                                <td>2185985535368</td>
                                <td>123456789</td>
                                <td>Visa</td>
                                <td>Shopee</td>
                                <td>Jan, 25, 2022</td>
                                <td>R$150,00</td>
                    </table>
                </div>
            </div>
        </div>
    </main>
</body>