<body>
  <main>
    <div class="login">
      <div class="form">
        <img src="assets/images/logo.png" alt="EcommerceAnalytics">
        <h1>Entre na sua conta</h1>

        <form class="login-form">
          <input type="text" placeholder="Seu email (egidio@serri.com.br)" required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required />
          <input type="password" placeholder="Sua senha" required />
          <button>Entrar</button>
        </form>
        <button onclick="location.href='account';" class="create">Criar uma conta</button>

        <a href="password">
          <p>Esqueceu sua senha ?</p>
        </a>


      </div>
    </div>


  </main>
</body>