<body>
  <main>
    <div class="login">
      <div class="form">
        <img src="assets/images/logo.png" alt="EcommerceAnalytics">

        <h1>Digite seu email</h1>
        <form class="login-form">
          <input type="text" placeholder="Seu e-mail  (egidio@serri.com.br)" required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required />
          <button>Enviar</button>

        </form>


      </div>
    </div>
  </main>
</body>