<!--Dashboard LateralMenu-->
<%- include('partials/lateralMenu.ejs') %>

    <main>
        <!-- Page & User -->
        <div class="top">
            <div class="title">Report</div>
            <%- include('partials/user.ejs') %>
        </div>
        <!-- Table -->
        <div class="tableBox">
            <div class="boxCard">
                <table>
                    <thead>
                        <tr>
                            <th>Número do Pedido</th>
                            <th>SKU</th>
                            <th>Forma de Pagamento</th>
                            <th>Marketplace</th>
                            <th>Data</th>
                            <th>Valor</th>
                    <tbody>
                        <tr>
                            <td>2185985535368</td>
                            <td>123456789</td>
                            <td>Visa</td>
                            <td>Shopee</td>
                            <td>Jan, 25, 2022</td>
                            <td>R$150,00</td>
                        <tr>
                            <td>2185985535368</td>
                            <td>123456789</td>
                            <td>Visa</td>
                            <td>Shopee</td>
                            <td>Jan, 25, 2022</td>
                            <td>R$150,00</td>
                        <tr>
                            <td>2185985535368</td>
                            <td>123456789</td>
                            <td>Visa</td>
                            <td>Shopee</td>
                            <td>Jan, 25, 2022</td>
                            <td>R$150,00</td>
                        <tr>
                            <td>2185985535368</td>
                            <td>123456789</td>
                            <td>Visa</td>
                            <td>Shopee</td>
                            <td>Jan, 25, 2022</td>
                            <td>R$150,00</td>
                        <tr>
                            <td>2185985535368</td>
                            <td>123456789</td>
                            <td>Visa</td>
                            <td>Shopee</td>
                            <td>Jan, 25, 2022</td>
                            <td>R$150,00</td>
                        <tr>
                            <td>2185985535368</td>
                            <td>123456789</td>
                            <td>Visa</td>
                            <td>Shopee</td>
                            <td>Jan, 25, 2022</td>
                            <td>R$150,00</td>
                        <tr>
                            <td>2185985535368</td>
                            <td>123456789</td>
                            <td>Visa</td>
                            <td>Shopee</td>
                            <td>Jan, 25, 2022</td>
                            <td>R$150,00</td>
                        <tr>
                            <td>2185985535368</td>
                            <td>123456789</td>
                            <td>Visa</td>
                            <td>Shopee</td>
                            <td>Jan, 25, 2022</td>
                            <td>R$150,00</td>
                        <tr>
                            <td>2185985535368</td>
                            <td>123456789</td>
                            <td>Visa</td>
                            <td>Shopee</td>
                            <td>Jan, 25, 2022</td>
                            <td>R$150,00</td>
                        <tr>
                            <td>2185985535368</td>
                            <td>123456789</td>
                            <td>Visa</td>
                            <td>Shopee</td>
                            <td>Jan, 25, 2022</td>
                            <td>R$150,00</td>
                        <tr>
                            <td>2185985535368</td>
                            <td>123456789</td>
                            <td>Visa</td>
                            <td>Shopee</td>
                            <td>Jan, 25, 2022</td>
                            <td>R$150,00</td>
                        <tr>
                            <td>2185985535368</td>
                            <td>123456789</td>
                            <td>Visa</td>
                            <td>Shopee</td>
                            <td>Jan, 25, 2022</td>
                            <td>R$150,00</td>
                        <tr>
                            <td>2185985535368</td>
                            <td>123456789</td>
                            <td>Visa</td>
                            <td>Shopee</td>
                            <td>Jan, 25, 2022</td>
                            <td>R$150,00</td>
                        <tr>
                            <td>2185985535368</td>
                            <td>123456789</td>
                            <td>Visa</td>
                            <td>Shopee</td>
                            <td>Jan, 25, 2022</td>
                            <td>R$150,00</td>
                        <tr>
                            <td>2185985535368</td>
                            <td>123456789</td>
                            <td>Visa</td>
                            <td>Shopee</td>
                            <td>Jan, 25, 2022</td>
                            <td>R$150,00</td>
                        <tr>
                            <td>2185985535368</td>
                            <td>123456789</td>
                            <td>Visa</td>
                            <td>Shopee</td>
                            <td>Jan, 25, 2022</td>
                            <td>R$150,00</td>
                        <tr>
                            <td>2185985535368</td>
                            <td>123456789</td>
                            <td>Visa</td>
                            <td>Shopee</td>
                            <td>Jan, 25, 2022</td>
                            <td>R$150,00</td>
                        <tr>
                            <td>2185985535368</td>
                            <td>123456789</td>
                            <td>Visa</td>
                            <td>Shopee</td>
                            <td>Jan, 25, 2022</td>
                            <td>R$150,00</td>
                        <tr>
                            <td>2185985535368</td>
                            <td>123456789</td>
                            <td>Visa</td>
                            <td>Shopee</td>
                            <td>Jan, 25, 2022</td>
                            <td>R$150,00</td>
                </table>
            </div>
        </div>
    </main>
</body>