/* /* Standard definition */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --background-color: #212427;
    --BoxBgColor: #282C31;
    --strokeColor: #4D4D4D;
    --WhiteColor: #CACACA;
    --SelectedColor: #0085FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--WhiteColor);

}

main {
    position: inherit;
    padding-top: 5vh;
    overflow-y: hidden;
}

a:visited {
    color: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Page name and user menu */
.top {
    display: flex;
    padding: 1vh 12vw;
    justify-content: space-between;
}

/* Title */
.title {
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 36px;
    align-items: center;
    color: var(--WhiteColor);
}

/* User Menu */
.user {
    display: flex;
    align-items: center;
}

.notification>i {
    padding-right: 20px;
    font-size: 1vw;
}

.user .username {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    padding-right: 15px;

}

.userImage {
    padding-right: 10px;
}

.userImage>img {
    width: 40px;
    height: 40px;
    border-radius: 35px;
    border: 1px solid var(--strokeColor);
}

/* Dropdown user menu */
.userMenu i {
    position: relative;
    display: inline-block;
    font-size: 1vh;
}

.userMenuContent {
    display: none;
    position: absolute;
    background-color: var(--background-color);
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.userMenu:hover .userMenuContent {
    display: block;
}

/* Menu */
header {
    background: var(--BoxBgColor);
    color: var(--WhiteColor);
    width: 5vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    position: fixed;
}

.logoPanel>img {
    width: 40px;
}

.menu {
    display: flex;
    flex-direction: column;
    padding: 30vh 0;
    align-items: center;
}

.menu i {
    padding: 20px;
    font-size: 25px;
}

.menuSelected {
    color: var(--SelectedColor);
}

/* Warning Button */
.warning {
    display: flex;
    padding: 1vh 12vw;
    justify-content: center;
    align-items: center;
}

.warningBox {
    background-color: var(--SelectedColor);
    color: var(--BoxBgColor);
    border-radius: 25px;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    display: flex;
    align-items: center;
}

.warningLink {
    color: var(--BoxBgColor));
}

/* Cards */
.cards {
    display: flex;
    padding: 1vh 12vw;
    justify-content: center;
    align-items: center;
}

.cards .card {
    display: flex;
    flex-direction: column;
    background-color: var(--BoxBgColor);
    padding: 2rem 2.5rem;
    border-radius: 8px;
    margin-left: 32px;
    width: 100vw;
    height: 15vh;
    justify-content: center;
}

.cards .card:first-child {
    margin-left: 0;
}

.card .tituloCards {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.card .valoresCards {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    display: flex;
    align-items: center;
}

/* Table */
.tableBox {
    display: flex;
    padding: 1vh 12vw;
    justify-content: space-between;
}

.boxCard {
    background-color: var(--BoxBgColor);
    border-radius: 13px;
    padding: 5vh 0vw 2vh;
    padding-left: 30px;
    padding-right: 30px;
    width: 100vw;
}

.boxInfo {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: flex-start;
    padding-bottom: 30px;
    padding-top: 1vh;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: 13px;
    width: 100%;
}

table thead th {
    font-weight: 600;
}

table thead th,
table tbody td {
    color: var(--WhiteColor);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    padding: 10px;

}

table tbody td {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
}

table tbody tr:not(:last-child) {
    border-top: 1px solid var(--strokeColor);
    border-bottom: 1px solid var(--strokeColor);
}


/* Responsive */
@media (max-width: 1300px) {
    main {
        padding-top: 10px;

    }

}

@media (max-width: 1100px) {
    header {
        position: fixed;
        width: 100vw;
        bottom: 0;
        height: 7vh;
        flex-direction: row;
        justify-content: center;
    }

    main {
        position: inherit;
    }

    .cards {
        flex-direction: column;
        padding: 1vh 12vw;
    }

    .cards .card {
        margin-left: 0;
        margin-bottom: 32px;
        width: 75vw;
    }

    .menu {
        flex-direction: row;
        padding: 50vw 0;
    }

    .menu i {
        padding: 40px;
        font-size: 25px;

    }

    .logoPanel>img {
        display: none;
    }

    .notification {
        display: none;
    }

    table thead {
        display: none;
    }

    table tbody td {
        display: block;
        padding: .6rem;

    }

    table tbody tr td:first-child {
        background: var(--BoxBgColor);
        color: var(--WhiteColor);
        border-bottom: 1px solid var(--strokeColor);

    }

}

@media (max-width: 600px) {
    .user>.username {
        display: none;
    }

    .warning {
        display: none;
    }
}

@media (max-width: 400px) {
    .card .tituloCards {
        font-size: 15px;
    }

    .card .valoresCards {
        font-size: 25px;
    }

    .boxCard .boxInfo {
        font-size: 15px;

    }

    table tbody tr td {
        font-size: 18px;
    }
}